<%layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-5">
    <div class="col-7 offset-2">
      <h3>edit</h3>
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="title" class="form-label"> Title</label>
          <input
            name="listing[title]"
            placeholder="enter title"
            value="<%= listing.title %>"
            type="text"
            class="form-control"
            id="title"
            required
          />
          <div class="invalid-feedback">Enter valid title</div>
        </div>

        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input
            name="listing[author]"
            placeholder="author name"
            value="<%= listing.author %>"
            type="text"
            id="author"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid author name</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label"> description</label>
          <textarea
            name="listing[description]"
            placeholder="enter your thoughts"
            id="description"
            class="form-control"
            required
          >
<%= listing.description %></textarea
          >
          <div class="invalid-feedback">Enter valid description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Url</label>
          <input
            name="listing[image]"
            placeholder="enter the url"
            value="<%= listing.image %>"
            type="text"
            id="image"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid url</div>
        </div>

        <div class="mb-3">
          <label for="publishingYear" class="form-label">publishing Year</label>
          <input
            name="listing[publishing_year]"
            placeholder="enter publishing Year"
            type="number"
            value="<%= listing.publishing_year %>"
            class="form-control"
            id="publishingYear"
            required
          />
          <div class="invalid-feedback">Enter valid year</div>
        </div>

        <button class="addbtn mb-3">add</button>
      </form>
    </div>
  </div>
</body>
